<div class="userpolls-container">
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <div class="table-responsive table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"> Poll </th>
              <th class="text-center"> URL </th>
              <th class="text-center"> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poll of polls">
              <td class="text-center">{{poll.question}}</td>
              <td class="text-center">{{poll.url}}</td>
              <td class="text-center">
                <button class="btn btn-default" (click)="deletePoll(poll)">
                  Delete
                </button>
              </td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div> 
  </div>
</div>
