<div class="userpolls-container">
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <div class="table-responsive table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"> Poll </th>
              <th class="text-center"> URL </th>
              <th class="text-center"> Action </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div> 
  </div>
</div>