<div class="home-container">
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8 heading">
      <div class="left">
        <h2> VotePlex </h2>
      </div>
      <div class="right">
        <button class="btn btn-default heading-buttons" [routerLink]="['/home', 'signup']"> 
          Sign Up 
        </button>
        <button class="btn btn-primary heading-buttons" [routerLink]="['/home', 'login']"> 
          Login 
        </button>        
      </div>
    </div>
  </div>
  <div class="row caption">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8 caption-container text-center">
      <div class="caption-heading">
        <h2> VotePlex </h2>
      </div>
      <div class="caption-title">
        <h4>
          Create custom polls with live results
        </h4>
      </div>
      <div class="caption-btn">
      <button class="btn btn-success" [routerLink]="['/home', 'signup']"> 
        Sign Up 
      </button>  
      </div>
    </div>
  </div>
  <div class="row footer-information">
    <div class="col-sm-4 col-md-4 text-center">
      <div class="footer-heading">
        <h1> Live Results </h1>
      </div>
      <div class="footer-text">
        <p>
           Live graphs show your poll results immediately in an easy to understand format. 
           One graph will not provide the whole picture, 
           that's why we provide multiple graph types to better describe your results. 
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 text-center">
      <div class="footer-heading">
        <h1> Works Everywhere </h1>
      </div>
      <div class="footer-text">
        <p>
           Traditional computer desktops now represent only 30% of Internet traffic. 
           Your poll must work on the tablets, smartphones, notebooks and netbooks 
           that your visitors are using. Our responsive site designs do just that. 
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 text-center">
      <div class="footer-heading">
        <h1> Social Integration </h1>
      </div>
      <div class="footer-text">
        <p>
          This feature is still under construction. 
          Once completed, this will allow your poll voters to provide immediate feedback 
          and discuss results. Social share buttons encourage your poll voters to help spread 
          the word.  
        </p>
      </div>
    </div>
  </div>
</div>