.left{
    float: left;
}

.right{
    float: right;
}

.text-center{
    text-align: center;
}

.heading{
    margin-top: 20px;
}

.heading-buttons{
    margin-top: 20px;
}

.caption{
    margin: 30px 0px 0px 0px;
}

.caption-container{
    background-color: #0074c4;
    color: #fff;
    border-radius: 5px;
}

.caption-heading{
    padding-top: 20px;
}

.caption-btn{
    padding-bottom: 35px;
}

.footer-information{
    margin-top: 30px;
}