<div class="row">
  <div class="col-sm-4 col-md-4"></div>
  <div class="col-sm-4 col-md-4 text-center">
    <div>
      <h1> New Poll </h1>
    </div>
    <div class="form-group text-left">
      <label> Name your poll </label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group text-left">
      <label> Options </label>
      <div>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="button-group">
      <div>
        <button class="btn btn-default">
          More Options
        </button>
      </div>
      <br>
      <div>
        <button class="btn btn-success">
          Submit Poll
        </button>
      </div>
    </div>
  </div>
</div>